.home-page {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background: white;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; /* Cor de fundo para a seção de introdução */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.intro-section .logo {
  max-width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.intro-section .text {
  display: flex;
  flex-direction: column;
}

.intro-section h1 {
  font-size: 2rem;
  margin: 0;
}

.intro-section p {
  margin-top: 10px;
}

.minimap-section {
  width: 100%;
  background-color: white; /* Cor de fundo para a seção do mapa */
  padding: 20px;
  box-sizing: border-box;
}

.minimap-section h2 {
  text-align: center;
  background: #137585;
  padding: 10px;
  margin: 0 auto 20px auto;
  max-width: 200px;
  border-radius: 20px;
  color: white;
}

.background-section {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  box-sizing: border-box;
}

.background-overlay {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.about-faq-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: white; /* Cor de fundo para a seção sobre nós e FAQ */
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.about-section, .faq-section, .contact-section {
  background: #137585;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  flex: 1;
}

.contact-section {
  background: white;
  padding: 20px;
  color: #137585;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  flex: 1;
}

.how-it-works-section {
  padding: 20px 20vh;
  background: #5b9ba1; /* Cor de fundo para a seção como funciona */
  box-sizing: border-box;
  width: 100%;
}

.how-it-works-section h2 {
  padding: 20px;
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.about-section h2, .faq-section h2, .contact-section h2 {
  text-align: center;
}

.faq-section .faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-section .faq {
  margin-bottom: 10px;
  width: 100%;
}

.faq-section .question {
  font-weight: bold;
  cursor: pointer;
}

.faq-section .answer {
  display: none;
  margin-left: 20px;
}

.faq.active .answer {
  display: block;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #137585;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  flex: 1;
  max-width: 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section .contact-form input, .contact-section .contact-form textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-section .contact-form button {
  padding: 10px 20px;
  background-color: #137585;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-section .contact-form button:hover {
  background-color: #0d5e6b;
}

@media (max-width: 768px) {
  .intro-section {
    flex-direction: column;
    text-align: center;
  }

  .intro-section .logo {
    margin-bottom: 10px;
  }

  .background-section {
    height: 200px;
  }

  .about-faq-section {
    flex-direction: column;
  }

  .how-it-works-section {
    padding: 20px 20px;
    width: 100%;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
