/* src/components/MiniMap.css */
.minimap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: auto;
  }
  
  .map-wrapper {
    width: 100%; /* Ajuste conforme necessário */
   
  }
  
  .leaflet-container {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  